<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
  <display-name>Counter</display-name>
  <description>Counter</description>

  <distributable/>

  <servlet>
     <servlet-name>CounterServlet</servlet-name>
     <servlet-class>CounterApplication.CounterServlet</servlet-class> 
     <init-param>
        <param-name>titleMessage</param-name>
        <param-value>Counter Servlet</param-value>
     </init-param>    
  </servlet>
  
  <servlet-mapping>
     <servlet-name>CounterServlet</servlet-name>
     <url-pattern>/*</url-pattern>  
  </servlet-mapping>    
  
  <session-config>
     <session-timeout>30</session-timeout>
  </session-config>
</web-app>
